.full-width-split {
  @mixin atMedium {
    display: flex;
    position: relative;
  }

  &__one {
    flex: 1;
    background-color: $mainGreen;
    padding: 1.6rem 16px;
    @mixin atMedium {
      padding: 40px;
    }

    .full-width-split__inner {
      @mixin atMedium {
        float: right;
      }
    }
  }

  &__two {
    flex: 1;
    background-color: $mainBlue;
    padding: 1.6rem 16px;
    @mixin atMedium {
      padding: 40px;
    }
  }

  &__inner {
    
    @media (min-width: 1350px) {
      width: 610px;
    }
  }
}